/*my selection #26649B closed red classes yellow and others selection green */

/* Custom CSS to hide next and prev buttons */
.custom-day-calendar .rbc-toolbar > .rbc-btn-group > button {
  display: none !important;
}
.custom-day-calendar .rbc-row {
  display: none;
}

/*Hour cell*/
.custom-day-calendar .rbc-timeslot-group {
  background-color: white;
  border: 1px 0px solid;
}
.custom-day-calendar .rbc-time-content > * + * > * {
  border: 0 1px solid;
}
/*subtitle*/
.custom-day-calendar .rbc-time-header {
  background-color: white;
}
/*Header content */
.custom-day-calendar .rbc-row-content::before {
  display: flex;
  align-items: center;
  justify-content: center;
  content: "Actividades";
  font-size: large;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
/* Style for selected slots */
.custom-day-calendar .rbc-slot-selecting {
  background-color: #f0f0f0; /* Background color of the selected slot */
}

/* Style for selected events */
.custom-day-calendar .rbc-event {
  background-color: #26649b; /* Background color of events */
  color: #fff; /* Text color of events */
  border: 1px solid; /* Border color of events */
}

/* Style for event titles */
.custom-day-calendar .rbc-event-content {
  font-weight: bold; /* Make event titles bold */
  font-size: 14px; /* Adjust the font size of event titles */
}

/* Style for date and time labels */
.custom-day-calendar .rbc-time-header-content {
  font-weight: bold; /* Make date and time labels bold */
  font-size: 16px; /* Adjust the font size of date and time labels */
}

/* Style for the header with month and year */
.custom-day-calendar .rbc-toolbar-label {
  font-size: 22px; /* Adjust the font size of the month and year header */
  font-weight: bold; /* Make the header text bold */
  margin: 0.75rem;
  display: flex;
  justify-content: center;
}

/* Style for the selected date in the month view */
.custom-day-calendar .rbc-month-view .rbc-selected {
  background-color: #007bff; /* Background color of the selected date */
  color: #fff; /* Text color of the selected date */
}

.custom-day-calendar .rbc-time-header.rbc-overflowing,
.custom-day-calendar .rbc-time-header-content,
.custom-day-calendar .rbc-time-view {
  border: none;
}
